<!DOCTYPE html>
<html>
  <head>
    <img src="photos/iss_web_banner_073013.jpg" alt="NASA Banner" style="width:1400px;height:200px;">
    <title>{{ page.title }}</title>
    <!--link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></l>
        <li><a href="/about">About</a></l>
      </ul>
    </nav>
    <div class="container">
    
    {{ content }}
  
    </div>
    <footer>
      <ul>
        <li><a href="https://www.nasa.gov/">NASA Official Website</a></li>
        <li><a href="https://github.com/JoeGilliganHW/JoeGilliganHW.github.io"> webpage github repository </a></li>
      </ul>
    </footer>
  </body>
</html>
